<div class="content-edit-mdal">
    <div class="modal-header">
        <h4 class="modal-title">评分模板细项编辑</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-item">
                <label>指标名称</label>
                <input type="text" class="form-control" placeholder="请输入" ng-model="updateInfo.name">
            </div>
            <div class="form-item">
                <label>总分</label>
                <input type="number" class="form-control" placeholder="请输入" ng-blur="validVal(updateInfo.maxScore)" ng-model="updateInfo.maxScore" style="width: 100px">
            </div>
            <div class="form-item">
                <label>描述信息</label>
                <textarea class="form-control" ng-model="updateInfo.remark"></textarea>
            </div>
            <div class="form-item">
                <label>二级指标</label>
                <div class="table-wrapper">
                    <div class="table-actions">
                        <button class="btn btn-sm btn-default" ng-click="addItem()">添加指标</button>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>二级指标</th>
                            <th>描述</th>
                            <th style="width: 70px">总分</th>
                            <th style="width: 70px">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="i in updateInfo.children" ng-if="i.status !== 'delete'">
                            <td><textarea ng-change="setDirty(i)" class="form-control table-form-control" ng-model="i.name" style="height: 100px"></textarea></td>
                            <td><textarea ng-change="setDirty(i)" class="form-control table-form-control" ng-model="i.remark" style="height: 100px"></textarea></td>
                            <td><input ng-change="setDirty(i)" class="form-control table-form-control" ng-model="i.maxScore"></td>
                            <td><button class="btn btn-danger btn-sm" ng-click="removeItemLv2(i)">删除</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-line btn-line-red pull-left" ng-if="updateInfo.id" ng-click="removeItemLv1(updateInfo)">删除此指标</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
        <button class="btn btn-line" ng-click="submitEdit()">保存</button>
    </div>
</div>