<div class="page page-project-list">
    <div class="query-action-wrapper">
        <div class="searcher">
            <input class="form-control" placeholder="输入关键字进行搜索" ng-model="queryInfo.name">
            <button class="btn btn-primary btn-right" ng-click="search()">搜索</button>
        </div>
        <div class="form-item">
            <label>所属区域</label>
            <ul>
                <li ng-click="selectArea(null)" ng-class="queryInfo.area == null && 'active'">全部</li>
                <li ng-repeat="i in $root.areas" ng-click="selectArea(i.id)" ng-class="queryInfo.area == i.id && 'active'">{{i.name}}</li>
            </ul>
        </div>
        <div class="form-item">
            <label>机构类型</label>
            <ul>
                <li ng-class="queryInfo.nature == null && 'active'" ng-click="selectType(null)">全部</li>
                <li ng-repeat="i in $root.orgNature" ng-class="queryInfo.nature == i.id && 'active'" ng-click="selectType(i.id)">{{i.name}}</li>
            </ul>
        </div>
    </div>
    <div class="table-actions">
        <button class="btn btn-default" ng-click="createOrg()">添加机构</button>
    </div>
    <table class="table">

        <thead>
        <tr>
            <th>序号</th>
            <th>机构名称</th>
            <th>机构类型</th>
            <th>所属区域</th>
            <th>联系人</th>
            <th>联系电话</th>
            <th>Email</th>
            <th>修改时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="i in list">
            <td>{{$index+1}}</td>
            <td>{{i.name}}</td>
            <td>{{i.nature | orgType}}</td>
            <td>{{i.area | area}}</td>
            <td>{{i.contactName}}</td>
            <td>{{i.contactPhoneNumber}}</td>
            <td>{{i.email}}</td>
            <td>{{i.updatedDate | date: 'yyyy.MM.dd'}}</td>
            <td><button class="btn btn-clear" ng-click="editOrg(i)">编辑</button><button class="btn btn-clear" ng-click="removeOrg(i)">删除</button></td>
        </tr>
        </tbody>
    </table>
    <div class="clearfix">
        <ul uib-pagination  max-size="5" total-items="pageInfo.totalItems" ng-model="pageInfo.currentPage" ng-change="pageChanged()"></ul>
    </div>
</div>