<div class="page-wrapper page-no-tab page-project-detail">
    <h1>项目详情</h1>
    <div class="page">
        <table class="info-table">
            <tbody>
            <tr>
                <td colspan="3"><label>机构名称</label></td>
            </tr>
            <tr>
                <td><label>机构名称</label></td>
                <td><label>机构类型</label></td>
                <td><label>所属区域</label></td>
            </tr>
            <tr>
                <td colspan="3"><label>联系人信息</label></td>
            </tr>
            <tr>
                <td><label>联系人姓名</label></td>
                <td><label>联系电话</label></td>
                <td><label>Email</label></td>
            </tr>
            <tr>
                <td><label>联系人职称</label></td>
                <td><label>传真</label></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <hr>
        <div class="org-project-list">
            <div class="query-action-wrapper">
                <div class="searcher">
                    <input class="form-control" placeholder="输入关键字进行搜索">
                    <button class="btn btn-primary btn-right">搜索</button>
                </div>
                <div class="form-item">
                    <label>评估状态</label>
                    <ul>
                        <li>全部</li>
                        <li>待评估</li>
                        <li>已评估</li>
                    </ul>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>机构名称</th>
                    <th>用户名</th>
                    <th>用户类型</th>
                    <th>最后登录时间</th>
                    <th>最后登录IP</th>
                    <th>创建时间</th>
                    <th>修改时间</th>
                    <th>操作</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

</div>