<div class="page page-project-list">
    <div class="select-tab" style="margin-bottom: 20px">
        <div class="select-item" ui-sref="sysManager.account.org" ui-sref-active="active">
            机构账号
        </div>
        <div class="select-item" ui-sref="sysManager.account.expert" ui-sref-active="active">
            专家账号
        </div>
        <div class="select-item" ui-sref="sysManager.account.sys" ui-sref-active="active">
            系统账号
        </div>
    </div>
    <div ui-view></div>
</div>