<div class="school-info-modal telent-info-modal">
    <div class="modal-header">
        <h4 class="modal-title">修改密码</h4>
    </div>
    <div class="modal-body">
        <div class="form-item" style="padding-left: 120px">
            <label for="userName" style="width: 100px;">用户名</label>
            <p id="userName">{{user.userName}}</p>
        </div>
        <div class="form-item" style="padding-left: 120px">
            <label for="newPassword" style="width: 100px;">新密码</label>
            <input type="password" class="form-control" ng-model="updateInfo.newPassword" id="newPassword" placeholder="请输入新的密码">
        </div>
        <div class="form-item" style="padding-left: 120px">
            <label for="repeatNewPassword" style="width: 100px;">重复密码</label>
            <input type="password" class="form-control" ng-model="updateInfo.repeatNewPassword" id="repeatNewPassword" placeholder="请重复输入新的密码">
        </div>
    </div>
    <div class="modal-footer" style="border-top: none;">
        <button  class="btn btn-default" ng-click="dismissModal()">取消</button>
        <button  class="btn btn-primary" ng-click="finishOne()">保存</button>
    </div>
</div>