<div class="page-wrapper page-no-tab page-project-edit">
    <h1>项目组创建</h1>
    <div class="create-steps guideline-steps">
        <ul class="clearfix" style="margin: 0 auto;width: 600px;">
            <li>
                <div class="step-item" ui-sref="groupEdit.step1" ui-sref-active="active">
                    <div class="step-icon"></div>
                    <label>编辑信息</label>
                </div>
            </li>
            <li>
                <div class="step-item" ui-sref="groupEdit.step2" ui-sref-active="active">
                    <div class="step-icon"></div>
                    <label>添加项目</label>
                </div>
            </li>
            <li>
                <div class="step-item" ui-sref="groupEdit.step3" ui-sref-active="active">
                    <div class="step-icon"></div>
                    <label>指派专家</label>
                </div>
            </li>
        </ul>
    </div>
    <div class="page" ui-view>

    </div>
</div>