<div class="page-wrapper page-no-tab page-sys-project-list">
    <div class="page">
        <div class="query-action-wrapper">
            <div class="searcher with-action-left">
                <org-select class="action-left"></org-select>
                <input class="form-control" placeholder="输入关键字进行搜索" ng-model="queryInfo.name">
                <button class="btn btn-primary btn-right" ng-click="search()">搜索</button>
            </div>
            <div class="form-item">
                <label>项目状态</label>
                <ul>
                    <li>全部</li>
                    <li>待评估</li>
                    <li>评估中</li>
                    <li>评估结束</li>
                </ul>
            </div>
            <div class="form-item">
                <label>所属领域</label>
                <ul>
                    <li ng-click="queryCate(null)" ng-class="queryInfo.categoryId == null && 'active'">全部</li>
                    <li ng-repeat="i in $root.Categories" ng-click="queryCate(i)" ng-class="queryInfo.categoryId == i.id  && 'active'">{{i.categoryName}}</li>
                </ul>
            </div>
        </div>
        <div class="table-actions">
            <button class="btn btn-line" ui-sref="groupEdit.step1">创建项目组</button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>序号</th>
                <th>项目组名称</th>
                <th>所属评估任务</th>
                <th>负责人</th>
                <th>项目数量</th>
                <th>专家总数</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="i in list">
                <td>{{$index+1}}</td>
                <td>{{i.name}}</td>
                <td>{{i.taskName}}</td>
                <td>{{i.taskManager}}</td>
                <td>{{i.projectCount || 0}}</td>
                <td>{{i.expertCount || 0}}</td>
                <td>{{i.updatedDate | date:'yyyy-MM-dd'}}</td>
                <td><button class="btn btn-clear btn-sm">编辑</button></td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix">
            <ul uib-pagination max-size="5" total-items="pageInfo.totalItems" ng-model="pageInfo.currentPage" ng-change="pageChanged()"></ul>
        </div>
    </div>
</div>