<div class="page-wrapper page-no-tab page-sys-project-list">
    <h1>项目组详情</h1>
    <div class="page">
        <table class="info-table">
            <tbody>
            <tr>
                <td colspan="3"><label>项目组名称</label> 23454546656</td>
            </tr>
            <tr>
                <td><label>项目组负责人</label> 23454546656</td>
                <td><label>主要领域</label> 23454546656</td>
                <td></td>
            </tr>
            <tr>
                <td><label>开始时间</label> 23454546656</td>
                <td><label>截止时间</label> 23454546656</td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="form-item">
                        <label>任务简介</label>
                        <div class="item-content">
                            项目简介文案项目简介文案项目简介文案项目简介文案项目简介文案项目简介文案项目简介文案项目简介文案项目简介
                            文案项目简介文案项目简介文案项目简介文案项目简介文案项目简介文案项目简介文案项目简介文案项目简介
                            文案项目简介文案项目简介文案项目简介文案项目简介文案项目简介文案
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <hr>
        <table class="table">
            <thead>
            <tr>
                <th>序号</th>
                <th>项目编号</th>
                <th>项目标题</th>
                <th>机构</th>
                <th>负责人</th>
                <th>所属领域</th>
                <th>提交时间</th>
                <th>操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>