<div class="content-edit-mdal">
    <div class="modal-header">
        <h4 class="modal-title">评估任务编辑</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-item">
                <label>任务编号</label>
                <input type="text" class="form-control" placeholder="请输入" disabled>
            </div>
            <div class="form-item">
                <label>任务名称</label>
                <input type="text" class="form-control" placeholder="请输入" ng-model="updateInfo.name">
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-item">
                        <label>负责人</label>
                        <input type="text" class="form-control" placeholder="请输入" ng-model="updateInfo.manager">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-item">
                        <label>开始时间</label>
                        <input type="text" class="form-control" placeholder="请输入" select-date="updateInfo.startDate" ng-flatpicker>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-item">
                        <label>结束时间</label>
                        <input type="text" class="form-control" placeholder="请输入" select-date="updateInfo.endDate" ng-flatpicker>
                    </div>
                </div>
            </div>
            <div class="form-item">
                <label>评分模板</label>
                <select class="form-control" ng-model="updateInfo.evaluationTemplateCategoryId">
                    <option value="">请选择评分模板</option>
                    <option ng-value="i.id" ng-repeat="i in templates" title="{{i.introduction}}">{{i.name}}</option>
                </select>
            </div>
            <div class="form-item">
                <label>简介</label>
                <textarea class="form-control" ng-model="updateInfo.introduction"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-line btn-line-red pull-left" ng-if="updateInfo.id" ng-click="removeTask(updateInfo)">删除此任务</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
        <button class="btn btn-line" ng-click="submitEdit()">保存</button>
    </div>
</div>