<div class="page-wrapper page-no-tab page-sys-project-list">
    <div class="page">
        <div class="query-action-wrapper">
            <div class="searcher">
                <input class="form-control" placeholder="输入关键字进行搜索" ng-model="queryInfo.name">
                <button class="btn btn-primary btn-right" ng-click="search()">搜索</button>
            </div>
        </div>
        <div class="table-actions">
            <button class="btn btn-line" ng-click="editTask()">创建评估任务</button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>序号</th>
                <th>任务名称</th>
                <th>包含项目组数量</th>
                <th>项目总数</th>
                <th>任务负责人</th>
                <th>开始日期</th>
                <th>截止日期</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="i in list">
                <td>{{$index+1}}</td>
                <td>{{i.name}}</td>
                <td>{{i.groupCount}}</td>
                <td>{{i.projectCount}}</td>
                <td>{{i.manager}}</td>
                <td>{{i.startDate | date: 'yyyy.MM.dd'}}</td>
                <td>{{i.endDate | date: 'yyyy.MM.dd'}}</td>
                <td>{{i.updatedDate | date: 'yyyy.MM.dd'}}</td>
                <td>
                    <button class="btn btn-clear btn-sm" ng-click="editTask(i)">编辑</button>
                    <button class="btn btn-clear btn-sm" ui-sref="taskDetail({taskId:i.id})">查看详情</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix">
            <ul uib-pagination  max-size="5" total-items="pageInfo.totalItems" ng-model="pageInfo.currentPage" ng-change="pageChanged()"></ul>
        </div>
    </div>
</div>