<div class="page-wrapper page-no-tab page-project-detail">
    <h1>项目详情</h1>
    <div class="page">
        <table class="table">
            <thead>
            <tr>
                <th>序号</th>
                <th>项目编号</th>
                <th>项目标题</th>
                <th>机构</th>
                <th>负责人</th>
                <th>所属领域</th>
                <th>提交时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="i in list">
                <td>{{$index+1}}</td>
                <td>{{i.projectSerialNumber}}</td>
                <td>{{i.name}}</td>
                <td>{{i.orgId}}</td>
                <td>{{i.manager}}</td>
                <td>{{i.categoryId}}</td>
                <td>{{i.updatedDate | date: 'yyyy.MM.dd'}}</td>
                <td ng-if="i.projectStatus == 2">
                    <button class="btn btn-clear btn-sm">评估</button>
                </td>
                <td ng-if="i.projectStatus == 3 ">
                    <button class="btn btn-clear btn-sm">查看详情</button>
                    <button class="btn btn-clear btn-sm">重新编辑</button>
                </td>
                <td ng-if="i.projectStatus == 4">
                    <button class="btn btn-clear btn-sm">查看详情</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix">
            <ul uib-pagination  max-size="5" total-items="pageInfo.totalItems" ng-model="pageInfo.currentPage" ng-change="pageChanged()"></ul>
        </div>
    </div>
</div>

